<h1><%= @user.username %></h1>

<nav>
  <ul>
    <li><a href="/users/<%= @user.id %>">Own photos</a></li>
    <li><a href="/users/<%= @user.id %>/liked">Liked photos</a></li>
    <li><a href="/users/<%= @user.id %>/feed">Feed</a></li>
    <li><a href="/users/<%= @user.id %>/discover">Discover</a></li>
  </ul>
</nav>

<h2>Own photos (<%= @user.own_photos.count %>)</h2>

<table>
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>

  <% @user.own_photos.order({ :created_at => :desc }).each do |pic| %>
  <tr>
    <td>
      <img src="<%= pic.image %>">
    </td>

    <td>
      <%= pic.caption %>
    </td>

    <td>
      <%= pic.owner.username %>
    </td>

    <td>
      <%= time_ago_in_words(pic.created_at) %> ago
    </td>

    <td>
      <%= pluralize(pic.likes_count, "like") %>
    </td>

    <td>
      <a href="/photos/<%= pic.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
